


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="error-page">
    <h2 class="headline text-warning"> 404</h2>

    <div class="error-content">
        <h3><i class="fa-exclamation-triangle text-warning"></i> Oops!  </h3>

    


    </div>
    <!-- /.error-content -->
</div>
<h3>خطأ</h3>
<script type="text/javascript">


</script>
