
@using NMS.Core.Resources
@using NMS.Data
@using GridMvc.Html
@model IEnumerable<NMS.Data.DailyActivity>

@{
    ViewBag.Title = CommonRes.Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@CommonRes.Index</h2>





<br />
@Html.Grid(Model).Named("ordersGrid").Columns(columns =>
{
    columns.Add(model => model.ID).Sortable(true).SetWidth(50).Titled(NMSRes.ID);

    columns.Add(model => model.OpenningBal).Sortable(true).SetWidth(50).Titled(NMSRes.OpeningBalance);


    columns.Add(model => model.cashierID).Sortable(true).SetWidth(50).Titled(NMSRes.UserName);
    columns.Add().Encoded(false).Sanitized(false).RenderValueAs(o => Html.ActionLink(CommonRes.Link_CloseDay, "Close", new { id = o.ID })).SetWidth(50);


}).WithPaging(10).Filterable().SetLanguage(CommonRes.Lang)


